body { background: #073642; }
.container, p, li {
  font-family: "Droid Serif", "Liberation Mono", "Lucidia Grande", Serif !important;
  font-size: 1.2em !important;
  line-height: 1.7em !important;
  color: #eee8d5 !important;
}
h2, h3, h4, h5, h6 { color: #268bd2 !important; font-weight: 500 !important;}
h1, h1 > a, h1 > a:hover, h1 > a:visited { color: #dc322f; }
a { color: #93a1a1; }
code { color: #FFF; font-family: "Courier", Serif; }
li { list-style: disc outside; margin-left: 30px; }
table { margin-left: 20px; }
blockquote, blockquote > p { color: #eee8d5; }
.highlight { background: #EEE8D5; padding: 5px; }
.header { background-color: #666; }
.title { color:#dc322f !important; font-size: 3em; line-height:1.2em; }
.subtitle { line-height:1.2em; white-space: nowrap; }
.sidebar { margin-top:50px; text-align: left; font-size: 0.8em; line-height:1.2em;  position: fixed; right: 25px; width: 21.68%; }
.sidebar p { margin-bottom:7px; }
.hello { font-size: 3em; margin-bottom: 20px; color: #859900; }
.content { padding-top:50px; }
.footer {font-size: 0.8em; padding-top: 20px; padding-bottom: 20px; }
.posts li { list-style: none; font-size: 1.2em; margin-left: 0px; }
ul.posts a { color: #268bd2; }
.index-date { font-size: 0.7em; color: #eee8d5; white-space: nowrap; }
.post-date { font-size: 1em; color: #dc322f; margin-top: -15px; padding-bottom: 10px; }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  #sidebar {display:none;}
  .title {  font-size: 1.5em; line-height:1.2em;  }
  h1 { font-size: 1.5em;}
  h2 { font-size: 1.3em;}
  h3 { font-size: 1.1em;}
}

@media screen and (max-width: 650px) {
	html {-webkit-text-size-adjust: none;}
  #sidebar {display:none;}
  .title {  font-size: 1.5em; line-height:1.2em;  }
  h1 { font-size: 1.5em;}
  h2 { font-size: 1.3em;}
  h3 { font-size: 1.1em;}
}
