body { background: #fcf4dc; }
.container, p, li {
  font-family: "Droid Serifs", "Liberation Monos", "Lucidia Grandes", "Georgia", Serif !important;
  font-size: 1.2em !important;
  line-height: 1.7em !important;
  color: #475b62 !important;
}
h2, h3, h4, h5, h6 { color: #bd3613 !important; font-weight: 300 !important;}
h1, h1 > a, h1 > a:hover, h1 > a:visited { color: #bd3613; text-decoration: none; font-weight: 300; }
h1.bio { text-align: center; padding-bottom: 50px; color: #475b62;}
a { color: #475b62; text-decoration: underline; }
a:hover, a:visited { color: #475b62; text-decoration: underline; }
code { color: #FFF; font-family: "Courier", Serif; }
li { list-style: disc outside; margin-left: 30px; }
table { margin-left: 20px; }
blockquote, blockquote > p { color: #042029; border-left: 2px solid #ccc; }
.header { padding-top:25px; text-align: center; }
.title { color: #bd3613 !important; text-decoration: none; font-size: 2em; }
.subtitle { font-size: 0.8em; }
.content { padding-top:50px; }
.footer {font-size: 1em; padding-top: 20px; padding-bottom: 20px; text-align: center; }
.posts li { list-style: none; font-size: 2em; text-align: center; }
.talks li { list-style: none; font-size: 2em; }
ul.posts a { color: #bd3613 !important; }
.index-date { font-size: 0.7em; white-space: nowrap; }
.post-date { font-size: 1em; color: #dc322f; margin-top: -15px; padding-bottom: 10px; }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .container { font-size: 1.2em !important;}
  .title { font-size: 1.5em; }
  h1 { font-size: 1.5em;}
  h2 { font-size: 1.3em;}
  h3 { font-size: 1.1em;}
}

@media screen and (max-width: 650px) {
  .container { font-size: 1.2em !important;}
  .title { font-size: 1.5em; }
  hhtml {-webkit-text-size-adjust: none;}
  h1 { font-size: 1.5em;}
  h2 { font-size: 1.3em;}
  h3 { font-size: 1.1em;}
}
