html {
  background-color: #F2F2F2;
}

body {
  font-family: "Liberation Mono", "Lucidia Grande", Serif;
  font-weight: 500;
  font-size: 1.0em;
  line-height: 133%;
  color: #424242;
  text-align: justify;
}

h1 {
  color: #084B8A;
  font-size: 160%;
}

h1 a:visited {
  color: #084B8A;
}

h2 {
  color: #084B8A;
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
  color: #084B8A;
}

h4 {
  margin-top: 20px;
  color: #084B8A;
}

h5 {
  color: #084B8A;
}
  
code {
 color: #333; 
}

a {
  color: #084B8A;
}

a:visited {
  color: #084B8A;
}

a:hover {
  color: #084B8A;
}

li {
  list-style: disc outside;
  margin-left: 30px;
}

table {
  margin-left: 20px;
}

.head {
  margin-top: 20px;
}

.title {
  font-family: "Liberation Mono", "Lucidia Grande", Serif;;
  font-size: 200%;
  letter-spacing: 5px;
  color: #FF4500;
}

.subtitle {
  color: #777;
  font-style: italic;
}

.head a:hover {
  text-decoration: none !important;
}

.headRoom {
  margin-top: 10px;
}

.alignRight {
  text-align: right;
}

.post-title {
  margin-right: 10px;
  text-align: right;
}

.icons img {
  display: inline;
}

.main {
  width: 100% !important;
}

.byline {
  margin-left: 50px;
}

.gist {
  width: 960px;
}

.foot {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.index-listing {
  margin-left: 50px;
}

.index-title {
  font-size: 1.2em;
  line-height: 2em;
}
.index-date {
  float: right;
  font-size: 0.7em;
}

.talk-listing {
  margin-top: 10px;
}

.talk-info {
  font-size: 0.7em;
}

.talk-title {
  font-size: 1.2em;
}

.boastful {
  width: 50px;
}

.boastful img {
  display: inline;
}

.boastful_content {
  text-align: left;
}

.indent {
  margin-left: 30px;
}