<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link href="http://feeds.feedburner.com/EmphaticSolutions" rel="alternate" title="Brian Doll : emphatic solutions" type="application/atom+xml" />
  <link rel="Shortcut Icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/foundation.css" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
  <link rel="stylesheet" href="/css/boastful.css" type="text/css" media="screen" title="boastful css" charset="utf-8">
  <link rel="stylesheet" href="/css/app.css" type="text/css"/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes' />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.boastful.js"></script>
  <script>$(document).ready(function() { $('#boastful').boastful(); });</script>
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="twelve columns">
        <a href="/" class="title"><em>emphatic solutions</em></a> <span class="subtitle">// ephemeral musings in the ether</spa>
      </div>
    </div>

    <div class="row">
      <div class="nine columns content">
        {{ content }}
      </div>
      <div class="three columns sidebar" id="sidebar">
        <div class="hello">hello</div>
          <p>I'm <a href="mailto:brian@emphaticsolutions.com" title="Brian Doll">Brian Doll</a>.</p><p>I <a href="http://www.linkedin.com/in/briandoll" title="">build things on the web</a>.</p><p>Customer development, lean engineering and agile teams make me happy and sometimes I <a href="/talks.html">get to speak about them</a>.</p><p>My code is <a href="http://github.com/briandoll/" title="briandoll on github">on github</a>, my terse musings are <a href="http://twitter.com/briandoll/" title="@briandoll">on twitter</a> and my heart is in San Francisco.</p>
        </div>
    </div>

    <div class="row">
      <div class="twelve columns footer">
        Copyright © 2007-2011 Brian Doll
      </div>
    </div>

  </div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-4937376-6");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
</body>
</html>