<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link href="http://feeds.feedburner.com/EmphaticSolutions" rel="alternate" title="Brian Doll : emphatic solutions" type="application/atom+xml" />
  <link rel="Shortcut Icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/foundation.css" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
  <link rel="stylesheet" href="/css/app.css" type="text/css"/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes' />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
</head>
<body>
  <div class="container">

    <div class="row header">
      <div class="twelve columns">
        <a href="/" class="title">emphatic solutions</a><br/>
        <span class="subtitle">ephemeral musings in the ether by
          <a href="mailto:brian@emphaticsolutions.com">Brian Doll</a>, <a href="http://www.linkedin.com/in/briandoll">Technology & Business Hacker</a>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns content">
        {{ content }}
      </div>
    </div>

    <div class="row">
      <div class="twelve columns footer">
        Follow @briandoll <a href="http://twitter.com/briandoll">on Twitter</a>, <a href="https://github.com/briandoll">on GitHub</a> and checkout <a href="/talks.html">his past talks.</a><br/>All content copyright © 2007-2012 Brian Doll
      </div>
    </div>

  </div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-4937376-6");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
</body>
</html>
